iframe{
    left: 15px;
    position: absolute;
    top: 15px;
    width: 270px;
}
main{
	background: #eee;
}
.header{
	position: relative;
	height: 500px;
}
.info{
	padding: 0 15px;
    text-align: center;
}
.mycard{
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
}